.button {
    --button-hover-color: #fe4f78 /* $button-highlight-color darkened by 5% */;

    background-color: $button-color;
    border: none;
    border-radius: 3rem;
    box-shadow: 1px 12px 20px 0px #c5ccec;
    color: $white;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 1rem 0 2rem;
    padding: 2rem 4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        background-color: var(--button-hover-color);
    }

    &--reverse {
        background-color: transparent;
        border: 1px solid $button-color;
        color: $button-color;

        &:hover {
            background-color: var(--button-hover-color);
            border: 1px solid var(--button-hover-color);
            color: $white;
        }
    }
}